
@import url(https://fonts.googleapis.com/css?family=Merriweather);

$black-text: #F3F2BF;


//v2 color-pallete
// $primary:#FFFFFF; //WHITE
// $secondary:#0B132B; //MAASTRICHT BLUE
// $tertiary: #281985; //PIXIE POWDER
// $fourth:#02020A; // RICH BLACK
// $fifth:#CECFC7;

$white : #FFFFFF;
$black : #000000;
$blue : #791E94;
$gray : #EFEFEF;

$box-shadow: 0 1px 2px rgba(0,0,0,.1);
$border : 2px solid #e2e2e2;

$activeLink:#242038;

html{
  letter-spacing: 1px;
}


body{
  padding:0;
  margin: 0;
  line-height: 25px;
  font-size: 12px;
  font-family: 'Merriweather';
  min-height: 100%;
  @media only screen and (max-width: 480px){
    font-size: 10px;
    line-height: 15px;
  }
}


html,body{
  height: 100%;
}

button{
  padding: 5px;
  border: none;
  font-family: 'Merriweather';
  letter-spacing: 1px;
  @media only screen and (max-width: 480px){
    padding:3px;
    font-size: 10px;
  }
}

input,
textarea{
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  height: 36px;
  line-height: 25px;
  font-size: 12px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Merriweather';
}

a {
  text-decoration: none;
}

.login_github{
  padding: 15px;
  width: auto;
  font-size: 1em;
  color: $white;
  background-color: $blue;
  font-weight: bolder;
  box-shadow: none;
  border: $blue;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  @media only screen and (max-width: 480px){
    padding:10px;
  }
  &:hover{
    box-shadow: 0.2px 1px 0.2px 0.2px #15B358;
  }
  img{
    background-color: $black;
  }
  a{
    color: $white;
  }
}

@import './containers/App.scss';
@import './containers/ProjectForm.scss';
@import './containers/ProjectChat.scss';
@import './containers/ProjectList.scss';
@import './containers/ProjectDetail.scss';
@import './containers/UserProfile.scss';


@import './components/Auth.scss';
@import './components/skill.scss';
@import './components/ProjectChip.scss';
@import './components/message.scss';
@import './components/LandingPage.scss';
@import './components/Sidebar.scss';
@import './components/Appbar.scss';

@import './highlight/default.css';
@import './react-select.min.css';
