
@import url(https://fonts.googleapis.com/css?family=Ubuntu);


$primary: #ECEDE8;
$secondary: #2E3136;
$tertiary: #B5B6B5;
$card-color: #FCF7FF;
$white: #FCF7FF;


$discord-black: #1e2124;
$discord-black-tint: #282b30;
$discord-black-text: #1b64d2;
$discord-black-shade: #2E3136;


// main theme
$black: #0f0f0f;
$platinum: #e2e2e2;
$white: #f8f8f8;
$ghost-white: #fcf7ff;
$blue: #52489C;
$dark-gray: #E7E5EA;
$error: #96031a;
$gray: #EFEFEF;
$dark-blue: #261C6E;
$light-blue: #A29BD4;
$accent: #FF7400;
$border: 1px solid #E2E2E2;

// project chip | card
$project-card-border: 1px solid #bbbbbb;
$project-card-background: #F5F5F5;
$a-link: #5c00ff;
$a-visited-link: #5c00ff;




$text: #000000;
$box-shadow: 0 1px 2px rgba(0,0,0,.1);


$activeLink: #B5B6B5;

html {
  letter-spacing: 1px;
}

h3 {
  font-weight: 500;
}

body{
  padding:0;
  margin: 0;
  line-height: 25px;
  font-size: 12px;
  font-family: 'Ubuntu', 'sans-serif';
  min-height: 100%;
  @media only screen and (max-width: 480px){
    font-size: 10px;
    line-height: 15px;
  }
}


html, body{
  height: 100%;
}

button{
  padding: 10px;
  border: none;
  font-family: 'Ubuntu';
  letter-spacing: 1px;
  background-color: $secondary;
  color: $tertiary;
  @media only screen and (max-width: 480px){
    padding:3px;
    font-size: 10px;
  }
  &:focus {
    outline: none !important;
  }
}

a {
  outline: none;
  text-decoration: none;
  color: #5c00ff;
  &:visited {
    color: #5c00ff;
  }
  &:active{
    color: #5c00ff;
  }
}


input,
textarea{
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid $tertiary;
  color: #333;
  height: 36px;
  line-height: 25px;
  font-size: 12px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}


/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}



@import './containers/App.scss';
@import './containers/ProjectForm.scss';
@import './containers/ProjectChat.scss';
@import './containers/ProjectList.scss';
@import './containers/ProjectDetail.scss';
@import './containers/UserProfile.scss';


@import './components/Auth.scss';
@import './components/skill.scss';
@import './components/ProjectChip.scss';
@import './components/message.scss';
@import './components/LandingPage.scss';
@import './components/Sidebar.scss';
@import './components/Appbar/Appbar.scss';
@import './components/Appbar/UserNotifications.scss';
@import './components/loader.scss';
@import './components/Flash_messages.scss';
@import './components/About.scss';

@import './highlight/default.css';
@import './react-select.min.css';
