#slide{
  display: none;
}

#slide:checked + .sidebar{
  left: 0px;
}

#slide:checked ~ .appbar{
  margin-left: 20%;
  width:80%;
  @media only screen and (max-width: 480px){
    margin-left: 80%;
  }
}

#slide:checked ~ #Main{
  margin-left: 20%;
  width: 80%;
  @media only screen and (max-width: 480px){
    margin-left: 80%;
    opacity: 0;
  }
}

#slide:checked ~ .appbar .toggle span:nth-child(1){
  top: 5px;
  transform: rotate(135deg);
}

#slide:checked ~ .appbar .toggle span:nth-child(2){
  opacity: 0;
  left: -60px;
}

#slide:checked ~ .appbar .toggle span:nth-child(3){
  top: 5px;
  transform: rotate(-135deg);
}

.sidebar{
  height: 100%;
  position: fixed;
  width: 20%;
  left: -20%;
  transition: all 0.5s ease-in;
  background : $black;
  overflow-y: auto;
  color: $white;

  &__logo{
    width: 100%;
    height: 2rem;
    text-align: center;
    padding: 10px 0 25px 0;
  }

  &__text {
    padding: 1.5em 2.5em;
    h1{
      padding-top: 1.5em;
    }
    p{
      font-size: 0.6rem;
      color: #8F918E;
    }
  }


  .navigation{
    width: 100%;
    text-align: center;
    &__explore_button{
      width: 80%;
      padding: 1em;
      background: $blue;
      border: 2px solid $blue;
      color: $white;
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: 1em;
    }
    &__lobby_button{
      width: 80%;
      padding: 1em;
      background: $blue;
      border: 2px solid $blue;
      color: $white;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  .sidebar_links{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bolder;
    .line_break{
      width:100%;
      margin-top:20px;
      height: 5px;
      background-color: $blue;
      text-align: center;
      // border-bottom: 1px solid black;
      position: relative;
      .links_header{
        position: absolute;
        top: -20px;
        right: 35%;
        padding: 10px;
        background-color: $black;
      }
    }
    .subscribed_projects{
      margin-top: 25px;
    }
    .sidebar_link{
      color: $white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      text-decoration: none;
      transition: all 0.1s ease-in;
      letter-spacing: 1.5px;
      &:hover{
        // background: #242038; //make var if used more
        color: $blue;
      }
      .project_name{
        // text-align: left;
      }
      .project_unread_count{
        // margin: 5px;
        // text-align: right;
      }
      .unread_count{
        border-radius: 25px;
        background-color: green;
        padding:5px;
        height: 20px;
      }
    }
  }
  @media only screen and (max-width: 480px){
    width: 80%;
    left: -80%;
  }
}

.active_link{
  background-color: #232a40; //lighter shade of masstricht blue
  color: $white;
  &:hover{
    color: $white !important;
  }
}

.appbar{
  // height: 8%;
  height: 60px;
  background: $white;
  color: $black;
  border-bottom: 2px solid $gray;
  position: fixed;
  width: 100%;
  transition: all 0.5s ease-in;
  padding: 5px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 480px){
    padding: 3px;
  }
  // &.app{
  //   background: $white;
  //   color: $blue;
  // }
  .version{
    font-size: 0.5em;
  }
  .toggle{
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.61);
    height:25px;
    width: 1.5em;
    padding: 0;
    margin:0;
    z-index: 3;
    margin-top: 10px;
  }
  .toggle span{
    padding:0;
    display: block;
    position: absolute;
    height: 13%;
    width: 100%;
    background: black;
    border-radius: 15px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  .toggle span:nth-child(1) {
    top: 0px;
  }

  .toggle span:nth-child(2) {
    top: 5px;
  }

  .toggle span:nth-child(3) {
    top: 10px;
  }
  .page_title{
    padding:5px;
    margin: 0 15px 0;
    flex-grow: 2;
    font-size: 1.5em;
    a{
      color: $white;
    }
    @media only screen and (max-width: 480px){
      font-size: 1em;
      margin:0;
    }
  }
}

.auth{
  .register,
  .login
  {
    margin: 5px;
    background: $white;
    color: $black;
    border: none;
    padding: 5px;
    width: 90px;
    cursor: pointer;
    transition: border 0.3s ease-in;
    &:hover{
      border: 0.5px solid $blue;
    }
  }
  .logout_button{
    margin-top: 5px;
    padding: 10px 15px;
    margin-right: 15px;
    background: $blue;
    color:$white;
    width: auto;
    height:auto;
    @media only screen and (max-width: 480px){
      margin-top: 0;
      padding: 8px 13px;
      font-size: 10px;
    }
    a{
      color: $white;
    }
    i{
      height: 100px;
      width: 100px;

    }
  }
}

.overlay-auth{
  position: fixed;
  top : 0;
  left: 0;
  right : 0;
  bottom  : 0;
  background-color : rgba(255, 255, 255, 0.75);
  transition: all 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-auth{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: $white;
  border: 2px solid $blue;
  height: auto;
  width: auto;
  transition: all 0.5s ease-in;
}

#Main{
  padding: 0;
  margin: 0;
  position: absolute;
  // position:relative;
  // margin-top: 0;
  transition: all 0.5s ease-in;
  width:100%;
  // top: 8%;
  top: 65px;
  bottom:0;
  overflow: auto;
  right:0;
  &:after{
    height:100%;
  }
}

#loading{
  position: fixed;
  top : 0;
  left: 0;
  right : 0;
  bottom  : 0;
  background-color : rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#notification_panel{
  position: absolute;
  right:0;
  bottom:0;
  top:0;
  padding:5px;
  margin:0;
  width: 20%;
  text-align: center;
  display: flex;
  pointer-events: none;
  flex-direction: column-reverse;
  @media only screen and (max-width: 480px){
    width: 50%;
  }
  .notification_wrapper{
    padding:5px;
    border-radius: 1px;
    box-shadow: 0 1px 1px 1px;
    background-color: white;
    display: block;
    height: 20%;
    border: 1px solid black;
    margin-bottom: 5px;
    z-index: 5;
    pointer-events: auto;
    .heading{
      background: $blue;
      color: $white;
    }
    button{
      background: $white;
      border: 2.5px solid $blue;
      transition: all 0.2s ease-in;
      cursor: pointer;
      &:hover{
        background: $blue;
        color: $white;
      }
    }
  }
}

.notification-enter{
  opacity: 0.01;
  &.notification-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.notification-leave{
  opacity: 1;
  &.notification-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
