
.overlay-auth{
  position: fixed;
  top : 0;
  left: 0;
  right : 0;
  bottom  : 0;
  background-color : rgba(255, 255, 255, 0.75);
  transition: all 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-auth{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: $white;
  border: 2px solid $blue;
  height: auto;
  width: auto;
  transition: all 0.5s ease-in;
}

.main{
  padding: 0;
  margin: 0;
  position: absolute;
  transition: all 0.5s ease-in;
  width:100%;
  top: 65px;
  bottom:0;
  overflow: auto;
  right:0;
  background: #F1F1F1;
  &:after{
    height:100%;
  }
  &.main--sidebarOpen{
    margin-left: 20%;
    width: 80%;
    @media only screen and (max-width: 480px){
      margin-left: 80%;
      opacity: 0;
    }
  }
}

#loading{
  position: fixed;
  top : 0;
  left: 0;
  right : 0;
  bottom  : 0;
  background-color : rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#notification_panel{
  position: absolute;
  right:0;
  bottom:0;
  top:0;
  padding:5px;
  margin:0;
  width: 20%;
  text-align: center;
  display: flex;
  pointer-events: none;
  flex-direction: column-reverse;
  @media only screen and (max-width: 480px){
    width: 50%;
  }
  .notification_wrapper{
    padding:5px;
    border-radius: 1px;
    box-shadow: 0 1px 1px 1px;
    background-color: white;
    display: block;
    height: 20%;
    border: 1px solid black;
    margin-bottom: 5px;
    z-index: 5;
    pointer-events: auto;
    .heading{
      background: $blue;
      color: $white;
    }
    button{
      background: $white;
      border: 2.5px solid $blue;
      transition: all 0.2s ease-in;
      cursor: pointer;
      &:hover{
        background: $blue;
        color: $white;
      }
    }
  }
}

.notification-enter{
  opacity: 0.01;
  &.notification-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.notification-leave{
  opacity: 1;
  &.notification-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
