#project_chat{
  height: 100%;
  width: 100%;
  margin:0;
  display: flex;
  flex-direction: column;
  align-content: space-around;

  .chat_room{
    width: 80%;
    position: relative;
    display: flex;
    flex-grow: 2;
    flex-direction: column;

    .messages{
      flex-grow: 1;
      overflow-y: scroll;
      ul{
        list-style: none;
        padding:0;
        .user_message{
          padding: 10px;
          margin: 5px;

        }
      }
    }
    .chat_message_box{
      flex-shrink: 0;
      margin-bottom: 0;
      // position: absolute;
      // left:0;
      // right:0;
      // bottom: 2px;
      display: flex;
      flex-direction: row;
      .message_box{
        padding: 10px;
        border: 0.5px solid black;
        border-radius: 2px;
        flex-grow:1;
      }
      .submit_message{
        margin:5px;
        padding:10px;
      }
    }
  }
}
