#project_form{
  padding: 20px;
  height:95%;
  overflow-y: auto;
  .title{
    text-align: center;
  }
  .submit_project{
    text-align: center;
    .submit{
      width:250px;
    }
  }

}

#project_details{

  .error{
    margin:5px;
    color: red;

  }
  input{
    display: inline-block;
  }
  .block{
    display: block;
    margin: 25px;
    #name{

    }
    #description{
      height: 150px;
      overflow: auto;
    }
    input[id="name"],
    input[id="github_link"],
    input[id="reddit_link"],
    textarea[id="description"],
    {
      background-color: $primary;
      border-radius: 4px;
      border: 1px solid #ccc;
      color: #333;
      height: 36px;
      line-height: 34px;
      width: 100%;
      outline:0;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }
}
