.project_form{
  display: flex;
  flex-direction: row;
  background: $white;
  box-shadow: $box-shadow;
  position: relative;
  padding: 2.5em;
  height: 500px;
  @media only screen and (max-width: 480px){
    flex-direction: column;
    height: auto;
    overflow: scroll;
    padding: 1em;
  }
  &__title{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
  }
  .close_button{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
  }
  .primary_content,
  .secondary_content
  {
    width: 50%;
    padding: 10px;
    margin-top: 35px;
    .item{
      height: 100%;
      width: 100%;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 5px;
      }
    }
    @media only screen and (max-width: 480px){
      width: 100%;
      padding-left: 0px;
    }
  }
  .secondary_content{
    textarea{
      height: 303px;
      @media only screen and (max-width: 480px){
        margin-bottom: 20px;
      }
    }
  }
  .form_submit{
    position: absolute;
    bottom: 60px;
    transform: translate(-50%);
    left: 50%;
    button {
      padding: 10px;
      background: #52489c;
      color: #f5f5f5;
    }
    @media only screen and (max-width: 480px){
      bottom: 10px;

    }
  }

}
