.project_detail{
  display: flex;
  height: 100%;
  @media only screen and (max-width: 480px){
    flex-direction: column;
  }
  .main_content,
  .secondary_content,
  {
    width: 50%;
    background: $white;
    box-shadow: $box-shadow;
    padding: 1.5em;
    box-sizing: border-box;
    @media only screen and (max-width: 480px){
      width: 100%;
    }
  }
  .main_content{
    &__project_name{
      margin-bottom: 0;
    }
    &__category{
      margin-bottom: 5px;
      color: #a5a5a5;
    }
    .member_list{
      display: flex;
      width: 100%;
      overflow: hidden;
      padding-left: 20px;
      &__members{
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }
    }
    .project_links{
      margin-top: 1.5em;
      h3{
        margin-bottom: 0;
      }
      &__item{
        padding-left: 20px;
        button{
          background: none;
          font-size: 2em;
          cursor: pointer;
        }
      }
    }
    .project_skills{
      margin-top : 1.5em;
      button{
        font-size: 0.8em;
        background: none;
        padding: 5px;
        color: #0f0f0f;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    &__edit_project,
    &__join_project{
      margin-top: 1.5em;
    }
  }

  .secondary_content{
    display: flex;
    flex-direction: column;
    .description{
      background: #f8f9fc;
      flex: 8;
      overflow-y: auto;
      padding: 10px;
    }
    &__action_buttons{
      text-align: right;
      padding-right: 10px;
      button{
        background: #52489c;
        border-radius: 4px;
        color: #f8f8f8;
        font-weight: 300;
      }
      @media only screen and (max-width: 480px){
        text-align: center;
      }
    }
  }
}
