.wrapper{
  height: 100%;
}

.user_profile{
  display: flex;
  height: 100%;
  flex-direction: row;
  .user_stats{
    display: flex;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
    width: 40%;
    background: $white;
    margin: 10px;
    box-shadow: $box-shadow;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #e2e2e2;
    .user_avatar{
      padding-bottom: 2em;
      border-bottom: 1px solid #e2e2e2;
      &__picture{
        height: 240px;
        width: 240px;
      }
    }
    .user_score{
      display: flex;
      text-align: center;
      justify-content: space-between;
      padding-bottom: 30px;
      &__level,&__xp{
        width: 50%;
      }
    }
  }
  .user_skills{
    text-align: center;
    width: 60%;
    height: auto;
    overflow: overlay;
    display: flex;
    flex-direction: column;
    background: $white;
    margin-top: 10px;
    box-shadow: $box-shadow;
    position: relative;
    align-items: stretch;
    &__header{
      width: 100%;
      text-align: center;
      vertical-align: middle;
    }
    &__add{
      height: 3em;
      display: flex;
      background: $blue;

      padding-left: 20px;
      padding-right: 20px;
      align-items: flex-start;
      .Select{
        flex-grow: 3;
      }
      .submit_skill{
        padding: 8px;
      }
    }
    &__table{
      width: 100%;
      flex-grow: 2;
      margin-top: 50px;
      font-size: 1.5em;
      table-layout: fixed;
    }
    &__skill_name{
      color: $blue;
    }
  }
}
