.user_skills{
  border: 1px solid $tertiary;
  width:50%;
  padding: 10px;
  margin: 5px;
  transform: translate(50%);
  .main_header{
    text-align: center;
  }
  .headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    border-bottom: 0.5px solid gray;
    .skill_header{
      width:45%;
    }
  }
}

.user_stats{
  border: 1px solid $tertiary;
  padding:10px;
  margin: 5px;
  width:50%;
  transform: translate(50%);
  text-align: center;
  display: flex;
  flex-direction: row;
  .stat_header{
    position:relative;
    border-top: 1px sold black;
    bottom:0;
  }
  .Level{
    width: 100%;
  }
  .Xp{
    width:100%;
  }
}

.welcome_message{
  text-align: center;
}

#create_project{
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  button{
    background-color: $primary;
  }
}

.overlay-project{
  position: fixed;
  top : 0;
  left: 0;
  right : 0;
  bottom  : 0;
  background-color : rgba(255, 255, 255, 0.75);
  transition: all 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.content-project{
  position: absolute;
  left: 50%;
  top: 50%;
  background: $primary;
  border: 2px solid $tertiary;
  // height: 90%;
  height: auto;
  width: 75%;
  transform: translate(-50%,-50%);
  transition: all 0.5s ease-in;
}
