#user_profile{
  background: #e5e5e5;
  overflow: auto;
  height:100%;
  .user_skills{
    .headers{
      .skill_header{
        width: 25%;
        @media only screen and (max-width: 480px){
          width: 45%;
        }
      }
    }
  }
}

.profile_skills{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding:0;

  .user_skill{
    display: flex !important;
    flex-direction: row;
    flex-grow: 2 !important;

    justify-content: space-around !important;
    .skill_name{
      text-align: left !important;
      width:25%;
    }
    .skill_commends{
      // margin-right:80px;
      margin-right: auto;
      flex-grow: 1;
      h3{
        text-align: center;
      }
    }
  }

  .commend{
    padding:0;
    margin:0;
    text-align: center;
    button{
      background: $white;
      border: 2.5px solid $blue;
      transition: all 0.2s ease-in;
      cursor: pointer;
      &:hover{
        background: $blue;
        color: $white;
      }
    }
  }

  .skill_commends{
    text-align: right !important;
  }

}
