#landing_page{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  // height:100%;
  letter-spacing: 2.5px;
  .landing{
    padding:0;
    height: 92vh;
    line-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background: $ghost-white;
    text-align: center;
    // text-decoration doesnt work.
    @media only screen and (max-width: 480px){
      height: 100%;
    }
    &.intro {
      .title{
        text-decoration: underline;
      }
    }
    &.project_idea{
      background: $gray;
      .explanation{
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 480px){
          padding: 0;
        }
        .content{
          .icon{
            font-size: 4em;
            color: $accent;
          }
          padding: 0 100px;
          @media only screen and (max-width: 480px){
            padding: 0 15px;
          }
          h3{
            color: $dark-blue;
          }
        }
        .snapshot{
          img{
            height: 500px;
            box-shadow: $box-shadow;
            border-radius: 4px;
            @media only screen and (max-width: 480px){
              height: 150px;
            }
          }
        }
      }
    }
    &.new_dev{
      .explanation{
        padding: 0 100px;
        .icon{
          font-size: 4em;
          color: $dark-blue;
        }
        @media only screen and (max-width: 480px){
          padding: 10px 45px;
        }
        .explore_button{
          margin-top: 4em;
        }
        .explore{
          padding: 10px;
          width: auto;
          font-size: 1em;
          color: $white;
          box-shadow: none;
          border: $blue;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.2s ease-in;
          margin: 1em;
          background: $black;
        }
      }
    }
    .title {
      font-size: 2em;
      line-height: 2em;
      padding: 10px;
      width: 100%;
      margin-right: 1em;
      box-sizing: border-box;
      @media only screen and (max-width: 480px){
        margin-right: 2em;
        margin-top: 2em;
      }
      img {
        height: 4.5em;
        width: 100%;
        @media only screen and (max-width: 480px){
          height: 4em;
        }
      }
    }
    .explanation{
      text-align: center;
      font-size: 1.5em;
      font-weight: 300;
      padding: 10px 45px;
      color: $black;
    }
    h2{
      color: $black;
    }
    p{
      word-wrap: break-word;
      justify-content: center;
      text-align: center;
    }
    .action_buttons{
      display: flex;
      @media only screen and (max-width: 480px){
        flex-direction: column;
      }

      .action {
        padding: 10px;
        width: auto;
        font-size: 1.5em;
        color: $white;
        background-color: $dark-blue;
        box-shadow: none;
        border: $blue;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        margin: 1em;
        &.source_code{
          background: $accent;
        }
        &.explore{
          background: $black;
        }
        @media only screen and (max-width: 480px){
          padding:10px;
        }
        .logo{
          padding-right: 10px;
          margin-right: 10px;
          border-right: 0.5px solid $white;
        }
        img{
          background-color: $black;
        }
        a{
          color: $white;
        }
      }
    }
  }
  @media only screen and (max-width: 480px){
    line-height: 15px;
    h2 {
      font-size: 1.5em
    }
    p {
      font-size: 1em;
    }
  }
}
