#landing_page{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  height:100%;
  .why__42{
    margin-bottom:30px;
    padding:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: $primary;
    text-align: center;
    .explanation{
      text-align: center;
    }
    h2{
      color: $tertiary;
    }
    p{
      word-wrap: break-word;
      justify-content: center;
      text-align: center;
    }
  }
}
