.new_message{
  padding-left: 15px;
  position:relative;
  display: flex;
  .avatar{
    .user_avatar{
      img{
        width:40px;
        height:40px;
        border-radius: 5px;
      }
    }
  }
  .message_details{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    .username{
      font-size: 1.2em;
      font-weight: bold;
      color: $secondary;
      margin-left: 15px;
    }
    .message{
      flex-grow: 2;
      margin-top:0;
      margin-left: 15px;
      span p,pre{
        margin-top:0;
      }
    }
  }
  .timestamp{
    position: absolute;
    top:5px;
    right:5px;
    font-size: 0.8em;
  }

}
