.new_message {
  //background: $white;
  box-shadow: $box-shadow;
  padding: 5px 10px;
  position: relative;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  &__avatar{
    .user_avatar{
      img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }
    }
  }
  &__timestamp{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__message_details{
    margin-left: 20px;
    width: 100%;
    .username{
      text-decoration: underline;
      color: $black;
      &:visited{
        color: $black;
      }
    }
  }
  &.general{
    padding: 0;
  }
  &__general_message{
    width: 100%;
    background: #F8F3F3;
    text-align: center;
  }
}

.new_message:nth-of-type(odd) {
    background: $white;
}

.new_message:nth-of-type(even) {
    background: #e6e6e6;
}
