.project_card {
  width: 90%;
  height: auto;
  padding: 15px;
  padding-top: 0;
  display: flex;
  background: $project-card-background;
  margin-bottom: 5px;
  border: $project-card-border;
  transition: box-shadow 0.16s ease-in-out;

  @media only screen and (max-width: 480px){
    flex-direction: column;
    border-bottom: 1px solid #020202;
    width: 90%;
  }
  &__owner{
    margin-right: 10px;
    flex: 1;
    @media only screen and (max-width: 480px){
      text-align: center;
    }
    img{
      padding-top: 1.5em;
      height: 60px;
      width: 60px;
      @media only screen and (max-width: 480px){
        height: 50px;
        width: 50px;
        padding-top: 1em;
      }
    }
  }

  &__details{
    flex: 8;
    display: flex;
    flex-direction: column;

    .name{
      h2 {
        margin-bottom: 0 !important;
      }
    }
    .category{
      color: #a5a5a5;
      h4 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .description{
      height: 5em;
      overflow-y: hidden;
      text-overflow: ellipsis;
      @media only screen and (max-width: 480px){
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &__fade_out{
        height: 0.5em;
        width: 100%;
      }
    }
    .skill{
      .project_card__skill_chip{
        font-size: 0.8em;
        background: $dark-gray;
        padding: 5px;
        overflow-y: hidden;
        color: $black;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        &.tbd{
          cursor: initial;
        }
      }
      .bottom_divider{
        width: 100%;
        display: flex;
        justify-content: center;
        .divider{
          width: 15%;
          height: 2.5em;
          border-bottom: 2px solid $black;
        }
      }
      @media only screen and (max-width: 480px){
        margin-top: 10px;
        margin-bottom: 10px;
        .bottom_divider{
          display: none;
          .divider{
            display: none;
          }
        }
      }
    }
  }

  &__actions{
    padding-top: 15px;
    a {
      background: none;
      // border: 1px solid #52489c;
      background: $dark-blue;
      color: $ghost-white;
      border-radius: 4px;
      // color: #52489c;
      padding: 10px 15px;
      margin-top: 1.5em;
      font-weight: bold;
      @media only screen and (max-width: 480px){
        width: 80%;
      }
    }
    @media only screen and (max-width: 480px){
      padding-left: 0;
      text-align: center;
    }
  }
}

.project_card:hover {
  box-shadow: 1px 3px 3px rgba(49, 49, 49, 0.37);
}
