.project_chip{
  border: 0px solid rgba(123, 123, 123, 0.498039);
  // display: inline-block;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  margin: 10px;
  vertical-align: top;
  position: relative;
  background-color: $primary;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 5);
  text-decoration: none;
  cursor: pointer;
  .project_name{
    padding: 5px;
    background-color: $fourth;
    color: $primary;
    font-weight: bold;
    text-align: center;
  }
  .project_description{
    color: $fourth;
    padding:10px;
    height:40%;
    overflow:hidden;
    text-overflow: ellipsis;
    flex-grow: 2;
  }
  .project_category{
    text-align: center;
    background-color: $fourth;
    color: $primary;
    padding:5px;
    font-weight: bold;
    border-bottom: 0.5px solid black;
  }
  .project_skills{
    // position:absolute;
    box-sizing: border-box;
    width: 100%;
    background-color: $fourth;
    margin:0;
    padding:5px;
    bottom:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .skill_chip{
      background-color: $tertiary;
      border-radius: 5px;
      color: $primary;
      box-shadow: none;
      margin:2px;
      max-height: 25px;
    }
  }
}
