.user_skill{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .skill_name{
    padding:10px;
    text-align: left;
    width:45%;
  }
  .skill_commends{
    padding:10px;
    text-align: center;
  }
  .remove{
    button{
      background:$white;
      border: none;
      box-shadow: none;
      cursor: pointer;
      color: red;
    }
  }
}
