#user_skills{
  border: 1px solid $tertiary;
  padding: 10px;
}

#create_project{
  border: 1px solid $tertiary;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  button{
    background-color: $tertiary;
  }
}

.overlay-project{
  position: fixed;
  top : 0;
  left: 0;
  right : 0;
  bottom  : 0;
  background-color : rgba(255, 255, 255, 0.75);
  transition: all 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-project{
  position: absolute;
  left: 50%;
  top: 50%;
  // right: 40px;
  // bottom: 40px;
  background: $primary;
  border: 2px solid $tertiary;
  height: 90%;
  width: 75%;
  transform: translate(-50%,-50%);
  transition: all 0.5s ease-in;
}
